torch==1.7.1
scikit-learn==0.24.1
scipy==1.5.4
cython==0.29.22
numba==0.51.1
numexpr==2.7.3
numpy==1.19.5
numpydoc==1.1.0
nmslib==2.0.6
matplotlib==3.3.4
setuptools==52.0.0
tqdm==4.59.0
h5py==2.7.1
hnswlib==0.5.2
